

<!DOCTYPE html>
<html>
    <head>
        <link href="{{asset('vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
        <link
            href="{{asset('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')}}"
            rel="stylesheet">
    
        <!-- Custom styles for this template-->
        <link href="{{asset('css/sb-admin-2.min.css')}}" rel="stylesheet">
    
        <!-- Custom styles for this page -->
        <link href="{{asset('vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
      <style>
 html{
    margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
  background-color:#4e73df;
  padding-top: 30px;
  padding-right: 80px;
  padding-bottom:30px;
  padding-left: 80px;
}

body{
background-color:white;

font-family: Verdana, sans-serif; 
 font-size: 100%;
 border-width: 2px 4px;
  border-radius: 40px;
  min-height: 100vh;
  padding: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

      </style>
    </head>




<body>
    <div>
    <h3 style="color:#4e73df;">Model</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Model's ID</th>
                <td><li>{{ modele.id }}</li></td>
            </tr>
            <tr>
                <th> T.M.G's Reference</th>
                <td><li>{{ modele.ReferenceTMG }}</li></td>
            </tr>
            <tr>
                <th>  Business Unit's Reference</th>
                <td><li>{{ modele.ReferenceBU }}</li></td>
            </tr>
            <tr>
                <th>Pieces 's number</th>
                <td><li>{{ modele.NombreDePiece }}</li></td>
            </tr>
            
            <tr>
            <th>Materials</th>
            <td>{% for matieres in modele.matieres %}
            <li>{{ matieres.Nom }}</li>
             {% endfor %}</td>
        </tr>
        <tr>
        <th>Operations</th>
        <td>{% for relation2 in modele.relation2 %}
        <li>{{ relation2.Operation }}</li>
         {% endfor %}</td>
    </tr>               
    <tr>
    <th>  Energies </th>
    <td>{% for energies in modele.energies %}
    <li>{{ energies.Nom }}</li>
     {% endfor %}</td>
           </tr>

           <tr>
           <th> Accessoiries</th>
           <td>{% for accessoires in modele.accessoires %}
           <li>{{ accessoires.ReferenceTMG }}</li>
            {% endfor %}</td>
       </tr>
       <tr>
       <th> Tools</th>
       <td> {% for outils in modele.outils %}
       <li>{{ outils.Outil }}</li>
        {% endfor %}</td>
   </tr>

       

        </tbody>
    </table>

    <a class="btn btn-primary btn-icon-split" href="{{ path('modele_index') }}" >  <span class="icon text-white-50">
    <i class="fas fa-check"></i>
</span>
<span class="text">Back to list</span></a>

   
    <a class="btn btn-primary btn-icon-split" href="{{ path('modele_edit', {'id': modele.id}) }}">  <span class="icon text-white-50">
<i class="fas fa-check"></i>
</span>
<span class="text">Edit</span></a>

                               
                                <a href="#" class="btn btn-danger btn-icon-split"  >
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span><span type="text">{{ include('modele/_delete_form.html.twig') }}<span>
                                  
                                </a>
    

</div>

     <!-- Bootstrap core JavaScript-->
    <script src="{{asset('vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{asset('vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{asset('js/sb-admin-2.min.js')}}"></script>
</body>

