

<!DOCTYPE html>
<html>
    <head>
        <link href="{{asset('vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
        <link
            href="{{asset('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')}}"
            rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css" integrity="sha512-8D+M+7Y6jVsEa7RD6Kv/Z7EImSpNpQllgaEIQAtqHcI0H6F4iZknRj0Nx1DCdB+TwBaS+702BGWYC0Ze2hpExQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
        <!-- Custom styles for this template-->
        <link href="{{asset('css/sb-admin-2.min.css')}}" rel="stylesheet">
    
        <!-- Custom styles for this page -->
        <link href="{{asset('vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
      <style>
        html{
    margin-top: 70px;
  margin-bottom: 0px;
  margin-right: 30px;
  margin-left: 30px;
  background-color:#4e73df;
  padding-top: 30px;
  padding-right: 80px;
  padding-bottom:50px;
  padding-left: 80px;
}

body{
background-color:white;

 height:1500px;

font-family: Verdana, sans-serif; 
 font-size: 100%;
 border-width: 2px 4px;
 
  padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

   
    
}


      </style>

    </head>




<body>
    <div>
    <h3 style="color:#4e73df;">Request</h3>
    

<h1></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Request ID</th>
                <td>{{ demande_o.id }}</td>
            </tr>
            <tr>
                <th>Sender</th>
                <td>{{ demande_o.Responsable }}</td>
            </tr>
            <tr>
                <th>Service</th>
                <td>{{ demande_o.Service }}</td>
            </tr>
            <tr>
                <th>Store Manger</th>
                <td>{{ demande_o.ResponsableMag }}</td>
            </tr> <tr>
                <th>store reference</th>
                <td>{{ demande_o.ReferenceMag }}</td>
            </tr>
            <tr>
                <th>T.M.G reference</th>
                <td>{{ demande_o.RefTMG }}</td>
            </tr>
            <tr>
                <th>B.U Reference</th>
                <td>{{ demande_o.RefBU }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ demande_o.Modele }}</td>
            </tr>
            <tr>
                <th>B.U</th>
                <td>{{ demande_o.BU }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ demande_o.Description }}</td>
            </tr>
            <tr>
                <th>Documentation</th>
                <td>{{ demande_o.Doc }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ demande_o.Type }}</td>
            </tr>
            <tr>
                <th>administration manger</th>
                <td>{{ demande_o.ResponsableADMI }}</td>
            </tr>
            <tr>
                <th>Confirmation</th>
                <td>{{ demande_o.Confirmation }}</td>
            </tr>
            <tr>
                <th>Invoice ID </th>
                <td>{{  demande_o.Facture.idfacture}}</td>
            </tr>
           
            <tr>
                <th>Director</th>
                <td>{{ demande_o.ResponsableTechnique }}</td>
            </tr>
            <tr>
                <th>Agree</th>
                <td>{{ demande_o.confirmationDemande }}</td>
            </tr>
            <tr>
            <th>date of creation</th>
            <td>{{ demande_o.date|date('d-m-y') }}</td>
        </tr>
        <tr>
            <th>Date limit</th>
            <td>{{ demande_o.datefin|date('d-m-y') }}</td>
        </tr>
        </tbody>
    </table>
    

    <a class="btn btn-primary btn-icon-split" href="{{ path('demande_o_index') }}" >  <span class="icon text-white-50">
    <i class="fas fa-check"></i>
</span>
<span class="text">Back to list</span></a>

   
    <a class="btn btn-primary btn-icon-split" href="{{ path('demande_o_edit', {'id': demande_o.id}) }}">  <span class="icon text-white-50">
<i class="fas fa-check"></i>
</span>
<span class="text">Edit</span></a>

                               
                                <a href="#" class="btn btn-danger btn-icon-split"  >
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span><span type="text">{{ include('demande_o/_delete_form.html.twig') }}<span>
                                  
                                </a>
                            </br>
                        </br>


                   
                        <form id="form_plan"  ><div  >
<label id="tmg" style="display:none;"> {{ demande_o.RefTMG }} </label>   </br>
<label id="datefin" style="display:none;"> {{ demande_o.datefin|date('d-m-y') }} </label>   </br>
    <label id "msg"> </label>  </br>
<button id =" addbtn" type="submit"  class="btn btn-primary btn-icon-split" style="float:right;"   > <span class="icon text-white-50">
<i class="fas fa-check"></i>
</span>  Add To planning &nbsp; </button>
</div>
</br>
</br>
</br>

</form></br>
                       




</div>
<audio id="mySound" src="{{asset('sound/error.mp3')}}"></audio>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js" integrity="sha512-zlWWyZq71UMApAjih4WkaRpikgY9Bz1oXIW5G0fED4vk14JjGlQ1UmkGM392jEULP8jbNMiwLWdM8Z87Hu88Fw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/discover').then(result=>{
            const hubUrl = result.headers.get('Link').match(/<([^>]+)>;\s+rel=(?:mercure|"[^"]*mercure[^"]*")/)[1];

            let url = new URL(hubUrl);
            url.searchParams.append('topic','notif');

            const eventSource= new EventSource(url);
            
            eventSource.onmessage= (event) => {
                var message =JSON.parse(event.data).message;
                
                var myAudio = document.getElementById("mySound");
                myAudio.play();

                $.toast({ 
                    text : message, 
                    showHideTransition : 'fade', 
                    allowToastClose : true,      
                    hideAfter : 8000,            
                    stack : 5,                    
                    textAlign : 'left',            
                    position : 'bottom-left',    
                    icon: 'info',
                    loader: true,      
                    loaderBg: '#A4DCF1'  
                });
            
            }
        })
    });
</script>


     <!-- Bootstrap core JavaScript-->
    
    <script src="{{asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{asset('vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{asset('js/sb-admin-2.min.js')}}"></script>
    
</body>
</html>
<script src="{{ asset('js/jquery-3.2.1.min.js')}}"></script>
<script>
    $(document).ready(function() {
        $("#form_plan").on("submit", function (event) {
            console.log($("#tmg").html());
            event.preventDefault();
            $.ajax({
                url: "{{ asset('ajax/Plan.php') }}",
                type: 'POST',
                data: {
                    action: 'ajoutplan' ,
                    $tmgs: $("#tmg").html() ,
                    $stats: $("#stat").html() ,
                    $prios: $("#prio").html() ,
                    $datefin: $("#datefin").html() ,
                },
                success: function (data) {
                    console.log(data);
                    window.location.href = {{ path('plan_index') }};
                  
                }
            });


            
        });


    });
       
</script>


